<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dupd.hku.com.hkusap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--
     The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
     Google Maps Android API v2, but you must specify either coarse or fine
     location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <uses-permission android:name="android.permission.BODY_SENSORS" />


    <!-- 加速传感器 -->
    <uses-feature android:name="android.hardware.sensor.accelerometer" />
    <!-- 指南针 -->
    <uses-feature android:name="android.hardware.sensor.compass" />
    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="true" />
    <!-- required为true表示必须设备支持蓝牙低功耗才能运行，如果不要求可以设置为false -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".HKUApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="@string/google_maps_key" />-->

        <activity android:name=".ChooseDestinationActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".DebugActivity"
            android:screenOrientation="portrait"
            />

        <service android:name=".iBeacon.BeaconService" />

        <!-- uncomment the following to enable scanning for over 30 minutes on Android 7+ -->
        <service
            android:name="org.altbeacon.beacon.service.BeaconService"
            tools:node="replace">
            <meta-data
                android:name="longScanForcingEnabled"
                android:value="true" />
        </service>
        <service android:name="com.amap.api.location.APSService"></service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2858cff22dac84d0015b83d8e103c7579a65011f"
            />
        <meta-data android:name="com.amap.api.v2.apikey" android:value="aaa69ec88e4f4424b985dba437a05164">

        </meta-data>

<!--        <meta-data android:name="com.amap.api.v2.apikey" android:value="aaa69ec88e4f4424b985dba437a05164">-->
<!--            //gaode key-->
<!--        </meta-data>-->


    </application>

</manifest>